.quiz_card {
    background-color: rgb(255, 255, 255);
    padding: 20px 50px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 40px 0;
    filter: drop-shadow(0 0 0.55rem rgba(138, 138, 138, .3));
}
.quiz_card h3 {
    width: auto;
    overflow-wrap: break-word;
}
.btn_wrapper {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row;
    margin-top: 30px;
}
.btn_wrapper p {
    margin: 0;
}
.btn_wrapper * {
    margin: 0 40px;
}

.play_btn {
    background-color: #81e0f7;
}
.play_btn:hover {
    background-color: #68c4db;
}

.results_btn:hover {
    color: #3ea801 !important;
}

.light_skull {
    opacity: .8;
}

.dark_skull {
    opacity: .9;
}


.skulls {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.skullImg {
    width: 25px;
    margin: 3px;
}