


.question_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100vw;
    margin-top: 15%;
}

.question {
    margin-top: 35px;
}
.question_title {
    padding: 0 30px;
}

.question_text {
    width: 100vw;
    background-color: #e9e9e9;
    text-align: center;
    padding: 13px 20px 15px 20px;
}

.question_num{
    font-size: 13px;
}

.question {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.answers_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.answer_btn {
    background-color: #e9e9e9;
    padding: 25px 60px;
    margin: 20px;
}